.form-wrapper{
    padding:10px;
    height: 100vh;
}
.error{
    color:red;
}
#image-canvas{
    margin:55px 10px 5px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-group{
    left: 50%;
    top:5px;
}